<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>	
	</appSettings>
	<connectionStrings>
		<add name="test" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Manal Makram\OneDrive\Documents\mis.mdb"/>
	</connectionStrings>
</configuration>